// parent element是main
.search {
  width: 80rem;
  height: 8rem;
  position: absolute;
  top: 5rem;
  left: 50%;
  background-color: rgba(white, 0.5);
  border-radius: 5px;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-around;
  align-items: center;

  transition: all 0.4s;

  @media only screen and (max-width: $bp-small) {
    width:40rem;
    height:40rem;
    flex-direction: column;
    align-items: center;
    padding:3rem;
    padding-bottom: 1rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    width:70%;
  }
  
  &-move {
    transform: translateX(-60rem);
    
    @media only screen and (max-width: $bp-small) {
      transform: translateX(-40rem);
    }
    @media only screen and (max-width: $bp-smallest) {
      transform: translateX(-50%);
    }
  }

  &__btn {
    border: none;
    outline: none;
    background-color: $color-primary-dark;
    width: 10rem;
    height: 5rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    @media only screen and (max-width: $bp-small) {
      width:15rem;
    }
  }
}

.start-box,
.end-box,
.date-box,
.time-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem;
  border-bottom: 2px solid $color-grey;
  @media only screen and (max-width: $bp-small) {
    width:100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.date-box{
  margin:1.5rem 0;
}

.start-box__select,
.end-box__select {
  width: 8rem;
  border: none;
  font-size: 2rem;

  background-image: url(../../img/arrow.png);
  background-size: 2.5rem 2.5rem;
  background-repeat: no-repeat;
  background-position: right center;

  appearance: none;
  outline: none;
  cursor: pointer;
}

input,
select {
  background-color: transparent;

}

.date-box {

  label{
    @media only screen and (max-width: $bp-smallest) {
      margin-right: 3rem;
    }
  }
  &__input {
    border: none;
    outline: none;
    font-size: 2rem;
    width: 15rem;

    &::-webkit-calendar-picker-indicator {
      margin-left: -5rem;
    }

    &::-webkit-calendar-picker-indicator:hover {
      cursor: pointer;
    }
    &::-webkit-datetime-edit-year-field {
      color: black;
    }
    //選取時數字不要反白
    &:focus::-webkit-datetime-edit-year-field,
    &:focus::-webkit-datetime-edit-month-field {
      background-color: transparent;
      color: black;
    }
  }
}

.time-box {
  &__input {
    border: none;
    outline: none;
    font-size: 2rem;
    &::-webkit-calendar-picker-indicator:hover {
      cursor: pointer;
    }
    //選取時上午下午區域不要反白
    &:focus::-webkit-datetime-edit-ampm-field {
      background-color: transparent;
      color: black;
    }
  }
}

label {
  font-size: 1.5rem;

  @media only screen and (max-width: $bp-small) {
    font-size:2.5rem;
  }
}

.exchange__icon {
  border: none;
  outline: none;
  background-color: transparent;

  @media only screen and (max-width: $bp-small) {
    transform: rotate(90deg);
    margin: -1rem 0;
  }

  svg.svg-inline--fa {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}
