// parent element是main
.search {
  width: 70%;
  height: 8rem;
  position: absolute;
  top: 5rem;
  left: 50%;
  background-color: rgba(white, 0.5);
  border-radius: 5px;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-around;
  align-items: center;

  &__btn {
    border: none;
    outline: none;
    background-color: $color-primary-dark;
    width: 10rem;
    height: 5rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
}

.start-box,
.end-box,
.date-box,
.time-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem;
  border-bottom: 2px solid $color-grey;
}

.start-box__select,
.end-box__select {
  width: 8rem;
  border: none;
  font-size: 2rem;

  background-image: url(../../img/arrow.png);
  background-size: 2.5rem 2.5rem;
  background-repeat: no-repeat;
  background-position: right center;

  appearance: none;
  outline: none;
  cursor: pointer;
}

input,
select {
  background-color: transparent;
}

.date-box {
  &__input {
    border: none;
    outline: none;
    font-size: 2rem;
    width: 18rem;
    &::-webkit-calendar-picker-indicator:hover {
      cursor: pointer;
    }
    &::-webkit-datetime-edit-year-field {
      color: black;
    }
    //選取時數字不要反白
    &:focus::-webkit-datetime-edit-year-field,
    &:focus::-webkit-datetime-edit-month-field {
      background-color: transparent;
      color:black;
    }
  }
}

.time-box {
  &__input {
    border: none;
    outline: none;
    font-size: 2rem;
    &::-webkit-calendar-picker-indicator:hover {
      cursor: pointer;
    }
    //選取時上午下午區域不要反白
    &:focus::-webkit-datetime-edit-ampm-field {
      background-color: transparent;
      color:black;
    }
  }
}

label {
  font-size: 1.5rem;
}

.exchange__icon {
  border: none;
  outline: none;
  background-color: transparent;

  svg.svg-inline--fa {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}
