.cart {
  width: 25%;
  height: calc(100% + 6rem + 15rem);
  position: absolute;
  right: 0;
  top: -6rem;
  transform: translateX(100%);
  transition: all 0.4s;
  border: 1.5px solid $color-grey;

  @media only screen and (max-width:$bp-large){
    width:30%;
  }

  @media only screen and (max-width: $bp-small) {
    width:45%;
  }

  @media only screen and (max-width: $bp-smallest) {
    width:100%;
  }

  background-color: $color-grey-light;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  &__heading {
    margin: 2rem 0;
  }

  svg {
    font-size: 2rem;
    position: absolute;
    left: 2.5rem;
    top: 2.5rem;
    cursor: pointer;
  }
}

.show-cart {
  transform: translateX(0);
}

//最近車次
.early {
  margin-bottom: 1.5rem;
  width: 100%;
  background-color: $color-primary-dark;
  border-radius: 5px;
  padding: 2rem;
  padding-top: 1rem;
  color: rgb(255, 255, 255);

  .heading-3 {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__detail {
    font-weight: 500;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2rem;
    &-date {
      width: 100%;
      span:not(:last-child) {
        margin-right: 2rem;
      }
    }

    &-information {
      &-number {
        margin-right: 2rem;
      }
    }

    div {
      margin-bottom: 0.5rem;
    }

    &-time {
      font-size:1.6rem;
      margin-top:.5rem;
      span {
        display: inline-block;
        background-color: white;
        margin: 0 1rem;
        border-radius: 3px;
        width: 3rem;
        color: $color-grey-dark;
        text-align: center;
      }
    }
  }
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.8rem;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
    justify-content: center;
    border: 1px solid grey;
    @media only screen and (max-width: $bp-smallest) {
      width:6rem;
    }


    &-location {
      font-weight: 500;
      padding: 0.5rem;
    }
    span:nth-of-type(2) {
      font-size: 1rem;
    }
  }
  &__middle {
    margin-right: auto;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-smallest) {
      flex-grow: 1;
      margin-left:2rem;
    }
    
    &-time {
      font-size: 1.5rem;
      span:not(:last-child) {
        margin-right: 2rem;
      }
    }
    &-number {
      font-size: 1.5rem;

    }
    &-price {
      font-weight: 500;
    }
    &-select {
      &-seatType {     
  
        border-radius: 2px;
        margin-right:1rem;
        outline: none;
        @media only screen and (max-width: $bp-smallest) {
          width:30%;
          font-size:2.5rem;
        }
      }
  
      &-ticketType {
        margin-left: 1rem;
        outline: none;
        border-radius: 2px;
        @media only screen and (max-width: $bp-smallest) {
          width:30%;
          font-size:2.5rem;
        }
      }
    }
    &-time,
    &-number,
    &-price{
      @media only screen and (max-width: $bp-smallest) {
        font-size: 2.5rem;
      }
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;

    &-up {
      width: 1.5rem;
      height: 1.5rem;
      background-image: url(../../img/arrow_up.png);
      background-size: cover;
      cursor: pointer;
      margin-bottom: 1rem;
    }
    &-down {
      width: 1.5rem;
      height: 1.5rem;
      background-image: url(../../img/arrow_down.png);
      background-size: cover;
      cursor: pointer;
      margin-top: 1rem;
    }
  }

  &__icon {
    background-image: url(../../img/icon_trash.png);
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.total {
  margin-top: 2rem;
  padding: 1.5rem;
  
  &__price {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;

    
    span {
      margin: 0 2rem;
    }
  }
  &__btn {
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: $color-primary;
    color: white;
    width: 20rem;
    height: 4rem;
  }
}

.expired {
  color: red;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 1rem;
}
