.footer{
    height:15rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    font-size: 1.8rem;
    background-color: $color-grey-dark;
    color:white;

    @media only screen and (max-width:$bp-smallest){
        flex-direction: column;
    }

    p{
        white-space: nowrap
    }
        &-box{

        }

    &__source{
        display:flex;
        flex-direction: column;
        align-items: center;
        @media only screen and (max-width:$bp-smallest){
            flex-direction: row;
            width: 70%;
            justify-content: space-around;
        }
        
        p{
            margin-bottom: 2rem;
            white-space: nowrap;
            @media only screen and (max-width:$bp-smallest){
                margin-bottom: 0;
            }
        }

        img{
            width:30rem;
            @media only screen and (max-width:$bp-smallest){
                width:20rem;
            }
        }
    }
}