.container{
    width:95vw;
    margin:0 auto;
    min-height:100vh;
    background-color: rgba($color-grey-light,.1);
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:$color-grey-dark;
    
    height:6rem;
    // background-color: violet;
    &__logo{
        font-size:3rem;
        font-weight: bold;
        margin-left:2rem;
    }

    &__item-box{
        width:30rem;
        display:flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        font-size:2rem;
        position:relative;
        .nav-item{
            &:not(:last-child){margin-right: 1rem;}
            &::after{
                display:block;
                color:white;
                content:"1";
                position:absolute;
                top:-.5rem;
                right:.5rem;
                background-color: $color-primary-dark;
                width:2rem;
                height:2rem;
                border-radius: 10rem;
                font-size:1.2rem;
                text-align: center;
            }

            &__link:link,
            &__link:visited{
                text-decoration: none;
                color:$color-grey-dark;
            }
            
            svg{
                width:3rem;
                height:3rem;
                color:$color-grey-dark;


            }
        }
    }
}


.main{
    min-height:80%;
    width:100%;
    position:relative;
    overflow: hidden;
}

