.price {
  width: 100%;
  background-color: $color-grey-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  

  .heading-2 {
    padding-bottom: 2rem;
    position: relative;
    margin: 1rem 0;

    &::after {
      content: "";
      display: block;
      width: 10rem;
      height: 0.3rem;
      background-color: $color-primary;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.detail-price {
  width: 100%;
  @media only screen and (max-width:$bp-smallest){
    // text-align: left;           /* 保证内容少时居中，内容多时左对齐 */
    display: inline-block;      /* 保证内容少时居中，内容多时左对齐 */
    overflow: auto;

}
  &__head,
  &__body {
    width: 100%;
  }

  &__head-row,
  &__body-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    font-size: 1.8rem;
  }

  &__head-row {
    background-color: $color-grey;
    color: $color-grey-dark;
    th {
      flex-grow: 2;
    }
    th:first-child {
      text-align: right;
      flex-grow: 1;
    }
  }

  &__body-row {
    td {
      font-weight: 300;
      flex-grow: 2;
      @media only screen and (max-width:$bp-smallest){
        flex-grow: 0;
    }
    }
    td:first-child {
      text-align: right;
      flex-grow: 1;
      @media only screen and (max-width:$bp-smallest){
        flex-grow:0;
        text-align: center;
    }
    }
  }

  td,
  th {
    width: 20rem;
    text-align: center;
  }
}


.content-fix{
    text-align: left;           /* 保证内容少时居中，内容多时左对齐 */
    display: inline-block;      /* 保证内容少时居中，内容多时左对齐 */
    overflow-x: auto;           /* 长度溢出时显示横向滚动条 */
    overflow-y: hidden;         /* 设置纵向滚动条不显示 */
    white-space: nowrap;        /* 设置内容不换行 */
     /* 文本居中 */
    line-height: 55px; 
    width:100%;
}